<div>

  <input type="text" ng-model="new_referral" />
  <a><!-- href="landing/?link={{new_referral}}"> -->
    <button ng-click="add(ref, new_referral)">+</button>
  </a>

  <table style="width:100%">
    <tr>
      <th>Referral</th>
      <th># of Clicks</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>


    <tr ng-repeat="ref in data | orderBy:'-clicks'" style="text-align:center;">
      <td><a href="" ng-click="updateReferrals(ref)">{{ref.name}}</a></td>
      <td>{{ref.clicks}}</td>
      <td><a href="landing/?link={{ref.name}}">Edit</a></td>
      <td><a href="" ng-click="deleteReferrals($index)">Delete</a></td>
    </tr>


  </table>

</div>
